{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<div class="ccns-link mb-2 flex items-center">
  <div class="flex-none w-6 text-xs text-center mr-2 tooltip">
    <a href="{{ path('entity.node.canonical', {'node': row.nid}) }}" class="no-underline tooltip hover:bg-inherit" data-tip="Zapping coming soon!">
      <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto w-6 opacity-20 hover:opacity-100" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="#8600ff">
        <path fill="#8600ffab" stroke-linecap="round" stroke-linejoin="round" d="m3.75 13.5 10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75Z" />
      </svg>
      <small>
        <i class="fak fa-satoshisymbol-solidtilt"></i> 0
      </small>
    </a>
  </div>
  <div class="flex-1">
    <strong class="text-sm">{{ fields.title.content }}</strong>
    <small class="block leading-4">
      {{ fields.field_url.content }}
    </small>
    <div class="block leading-3">
      <code class="text-gray-400">{{ fields.nothing.content }}</code>
    </div>
  </div>
</div>
