<div class="post">
  {% if logged_in %}
    Soon you will be able to start a topic with a link, a title and an optional description. <br />
    When there is no link, a text for the description will be required and will appear on top of the thread with the title.
    <div class="md:w-1/2 mx-auto mt-4 grid grid-cols-2 gap-4 justify-items-center">
      <div><a href="{{ path('node.add', {'node_type' : 'link'}) }}" class="btn btn-outline btn-warning">Post link</a></div>
      <div><a href="#" class="btn btn-disabled">Start topic</a></div>
    </div>
  {% else %}
    <div class="p-2 bg-amber-100">
      <p>
        To start posting, please <a href="{{ path('ccns.login_modal') }}" class="use-ajax" id="nostr-auth">login with Nostr</a> first.
      </p>
      <p class="mt-4">
        If you're curious what Nostr is and how to create an account, visit <a href="https://nostr.how" target="_blank">nostr.how</a>.
      </p>
    </div>
  {% endif %}
</div>
